body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

 
    opacity: 0.80;
    z-index: -1;
}


.hero-title {
    color: red;
    font-size: 8rem;
    text-align: center;
    text-shadow: 2px 2px 4px black;
    margin-bottom: 20px;
}


.prouct {
    background-color: rgb(232, 15, 15);
    color: black;
    font-weight: bold;
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: 0.2s;
}

.prouct:hover {
    background-color: #7c6c6c;
}


.hero-img-helix {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;   
    z-index: -1;         
    opacity: 1;        
}

.helix-text {
    text-align: center;
    position: absolute;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

.helix-container {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
}

.helix-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(1.8rem, 6vw, 3.5rem);
    font-weight: bold;
    color: black;
    -webkit-text-stroke: 2px red;
    text-align: center;
    z-index: 5;
    padding: 10px;

}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.stjerne {
    position: absolute;
    width: 150px;         /* størrelse på stjernen */
    height: 150px;
    opacity: 0;
    animation: blinkStar 1.8s infinite ease-in-out;
}

.stjerne img {
    width: 100%;
    height: 100%;
    object-fit: contain;   /* viktig! holder bildet riktig */
    display: block;
}

/* Blink-animasjon */
@keyframes blinkStar {
    0%   { opacity: 0; transform: scale(0.6); }
    50%  { opacity: 1; transform: scale(1); }
    100% { opacity: 0; transform: scale(0.6); }
}


.st1  { top: 8%;  left: 12%; animation-delay: 0.1s; }
.st2  { top: 5%;  left: 45%; animation-delay: 0.4s; }
.st3  { top: 10%; left: 78%; animation-delay: 1.1s; }

.st4  { top: 30%; left: 8%;  animation-delay: 0.7s; }
.st5  { top: 35%; left: 85%; animation-delay: 1.5s; }

.st6  { top: 55%; left: 5%;  animation-delay: 0.9s; }
.st7  { top: 58%; left: 90%; animation-delay: 1.9s; }

.st8  { top: 75%; left: 20%; animation-delay: 2.2s; }
.st9  { top: 78%; left: 60%; animation-delay: 0.3s; }
.st10 { top: 82%; left: 88%; animation-delay: 1.3s; }
